#/--------------------------------#
.venv/
Version_Lara/
datos_originales/
Limpieza_Preeliminar_Datos/
requerimientos.txt
CSV_VACIOS/
dockerfile
Airflow-DB-docker-compose.yml
.env
pg_hba.conf
dags/
init-scripts/
logs/
plugins/
.config
superset_home/
descripcion_tablasINICIALES.txt
relacionesDELmodelo.sql
superset_config.py
NEON.txt
dashboard.py
airflow.db/



